

@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600&family=Roboto:wght@300;400;700&display=swap");



:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);

  --VeryDarkBlue: hsl(234, 12%, 34%);
  --GrayishBlue: hsl(229, 6%, 66%);
  --VeryLightGray: hsl(0, 0%, 98%);
}







html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;

  background-color: #ddddde;
}

#container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}



/* Pattern Content*/
.pattern-content img {
  width: 40%;

  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 3px 0px #000;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.pattern-content img:hover {
  transform: scale(1.02); /* Faz a imagem crescer em 110% */
  box-shadow: 0 0 10px 2px #000; /* Aumenta a sombra para dar destaque */
}
.pattern-content {
  display: flex;
  gap: 1.5rem;
}

.pattern-content h1 {
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 4rem;
}

.pattern-content p {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 500;
}



/* To the top button*/
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 70px;
  right: 10px;
  width: 50px;
  height: 50px;
  background-color: var(--Blue);
  text-decoration: none;
  z-index: 10;
}
.btn::after {
  content: "↑";
  font-size: 32px;
  font-weight: bold;
  color: aliceblue;
  transition: margin-top 250ms;
}
.btn:hover::after {
  margin-top:-8px;
}

/* HEADER */

dialog::backdrop {
  background-color: rgba(44, 44, 44, 0.26);
}

dialog {

  font-family: "Nunito", sans-serif;
  border-radius: 7px;
  border-style: none;

  padding: 3rem;
  background-color: #63a7d3;
  box-shadow: 0 0 10px 0px #000;
  text-align: center;
}

dialog span a {
  user-select: none;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  background-color:  #185ab6;
  border-radius: 5px;
  padding: 10px;
  transition: ease-in-out .3s;
}

dialog span a:hover{
  color: #fff;
  
}

dialog .close {
  color: #000;
  font-weight: bold;
  font-size: 1rem;
  background-color: #4f7ab5;
  border: 1px solid #4d78b6;
  border-radius: 5px;
  padding: 10px;
  transition: ease-in-out .2s;
}

dialog .close:hover {
  transform: scale(1.1);
  color: #000;
  font-weight: bold;
}

#contact:visited {
  color: #fff;
}

.content {
  display: flex;

  flex-direction: column;
  margin: 80px auto 0 auto;
}

/* Estilos para telas maiores (por exemplo, desktop) */
.nave {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  background-color: #63a7d3;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #4d78b6 100%);
  height: 80px;
  z-index: 100;
  box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
}

.nave h1 {

  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.nave ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  width: 50%;
}

.nave ul li {
  cursor: pointer;
  width: 100px;
  flex-grow: 1;
}

.nave ul li a {
  position: relative;
  color: #fff;
  font-weight: bold;
  transition: ease-in-out 0.2s;
}



.nave ul li a::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.2s ease-in-out;
}

.nave ul li a:hover::before {
  width: 100%;
}

.nave ul li a:hover {
  font-weight: 600;
  font-size: 20px;
  color: #fff;
}

/* Estilos para telas menores (tablet e celular) */
@media screen and (max-width: 768px) {
  .nave {
    flex-direction: column;
    height: auto;
  }

  .nave h1 {
    margin-bottom: 1rem;
    margin-right: 2%;
  }

  .nave ul {
    width: 100%;
    margin-right: 2%;
  }

  .nave ul li {
    width: auto;

  }

  .nave ul li a {
    font-size: 14px;
  }
  .nave ul li a:hover {
    font-size: 14px;
    color: #0f0f0f;
  }
  .nave ul li a:hover::before {
    width: 0%;
  }

  #contact:hover {
    color: #0f0f0f;
  }

  dialog .close {
    width: 100%;
    margin-top: 2rem;
  }

  dialog h4 {

    margin-bottom: 2rem;
  }

  dialog span {
    display: flex;
    flex-direction: column;
    gap: .2rem;
  }
}
/* Content Sobre */



.sobre {
  height: 100vh;
  display: flex;
  align-items: center;
  background: url("/assets/construcao-ponte.jpg") no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  object-fit: cover;
}

.sobre-img {
  width: 100%;
  position: absolute;
  height: 100vh;
  object-fit: cover;
}

.sobre-content {

  width: 50%;
  background-color: #0000006e;
  margin: 10rem auto auto 1rem;

  text-align: left;
  color: #ffffff;
  border-radius: 10px;
  padding: 2rem;

}
.sobre-content h1 {
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 4rem;

}
.sobre-content p {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  /*SOBRE*/

  .sobre-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 500px;
    height: 700px;
 
  }

  .sobre-content h1 {
    font-size: 2rem; /* Reduzido ainda mais o tamanho da fonte */
    
  }

}


/* Content Projetos */

.projetos {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 2rem;
  background-color: rgb(30, 57, 75);
  color: white;
  position: relative; /* Adicione position: relative à seção de projetos */
  height: 100vh;

}

.projetos-content {
  width: 100%;
}

#projeto-imagem {
  max-width: 100%;
  height: auto;
}

#projeto-texto {
  max-width: 100%;
  overflow-y: auto;
}

.slide-icon {
  position: absolute; /* Posicione os ícones de slide no canto inferior */
  bottom: 5rem; /* Ajuste a distância do fundo conforme necessário */

  right: 5rem;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.slide-icon span {
  font-size: 2rem;
  cursor: pointer;
}

/* Media Query para telas menores (por exemplo, tablets e celulares) */

@media screen and (max-width: 1265px) {
  .projetos {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    
  }
  .projetos-content {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    overflow: auto;
  }

  #projeto-imagem {
    width: 100%;
    height: 100vh;
    margin-bottom: 15%;
  }
  .slide-icon {
    display: flex;
    justify-content: space-between; /* Distribua os ícones igualmente em telas menores */
    gap: 1rem; /* Reduzido o espaço entre os ícones */
    right: 5rem;
    left: 5rem;
  }
}

@media screen and (max-width: 768px) {
  .projetos {
    flex-direction: column-reverse;
    margin: 0 auto;
    height: 100vh;


  }
  .projetos-content {
    width: 100%;
    height: 100vh;
    padding: 0;
  }

  .projetos h1 {
    font-size: 2rem;
  }
  #projeto-imagem {
    width: 100%;
    height: 100vh;
    margin-bottom: 50%;
  }
  .slide-icon {
    display: flex;
    justify-content: space-between; /* Distribua os ícones igualmente em telas menores */
    gap: 1rem; /* Reduzido o espaço entre os ícones */
    right: 5rem;
    left: 5rem;
  }
}

/* Sistema */

.sistema {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("/assets/system-develop.jpg") no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  object-fit: cover;
  height: 100vh;
  opacity: 0.98;
}

.system-content {
  text-align: center; /* Centralize o conteúdo */
}

.system-content h1 {
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  background-color: #0000006e;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 10px;
  font-weight: 600;
  font-size: 4rem;
  color: rgb(243, 243, 243);
}

/* Cards */

.cards {
  display: flex;
  flex-wrap: wrap; /* Os cards agora vão quebrar para a próxima linha em telas menores */
  justify-content: center;
  gap: 20px;
  margin-top: 2rem; /* Aumentado o espaço superior em telas menores */
  padding-bottom: 5rem;
  line-height: 1.5;
}

.card {
  background-color: rgb(30, 57, 75);
  color: white;
  font-family: "Roboto", sans-serif;
  border-radius: 0.2rem;
  max-width: 280px;
  height: auto; /* Alterado para altura automática */
  padding: 1rem;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  text-align: left;
  opacity: 0.9;
  cursor: pointer;
  margin-bottom: 20px; /* Espaçamento inferior entre os cards */
}

.card p {
  padding-top: 5px;
  margin-bottom: 10px; /* Espaçamento inferior entre os parágrafos */
}

.card img {
  box-sizing: border-box;
  margin: 0 auto;
}

/* Media Query para telas menores (por exemplo, celulares) */
@media screen and (max-width: 775px) {


  .sistema h1 {
    font-size: 2rem;
  }

  .cards {
    min-height: 100px;
  }

  .card {
    width: 40%;
    font-size: 12px;
  }

}


/* Evento */



.evento {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #1d3b4f;
  height: 100vh;

}

.evento-content h1 {

  text-transform: uppercase;
  font-family: "Nunito", sans-serif;

  margin-top: 1rem;
  padding: 1rem;
  border-radius: 10px;
  font-weight: 600;
  font-size: 4rem;
  color: rgb(243, 243, 243);
}

.evento-content img {
  height: 600px;
  object-fit: cover;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
  transition: ease-in-out .5s;
}

.evento-content img:hover {
  transform: scale(1.01);
  object-fit: cover;
}

#carouselExampleControls {
  margin: 0 auto;
  width: 90%;
  height: 90%;
  box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
  align-items: center;

  background-color: #0000006e;
  border-radius: 10px;

}

.carousel-inner{
  width: 80%;

  object-fit: cover;
  height: 700px;
  padding-top: 3rem;
  margin: 0 auto;
}

/* Mova os botões "Anterior" e "Próximo" para a parte inferior */
.carousel-control-prev,
.carousel-control-next {
  top: auto;
  bottom: 15px; /* Ajuste essa margem inferior conforme necessário */
  text-decoration: none;
  font-weight: bold;

  padding: 1rem;

}



.carousel-control-prev:hover,
.carousel-control-next:hover {
 /* Cor de fundo ao passar o mouse */
  color: white; /* Cor do texto ao passar o mouse */
}


/* Ajuste o tamanho dos ícones dos botões "Anterior" e "Próximo" */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 40px; /* Ajuste o tamanho desejado */
  height: 40px; /* Ajuste o tamanho desejado */
}

/* Estilo personalizado para as legendas */
.carousel-caption {
  background: #0000006e; /* Fundo semitransparente */
  color: white; /* Cor do texto */
  padding: 10px; /* Espaçamento interno */
  text-align: center; /* Alinhamento de texto */
  border-radius: 8px;
}

/* Estilo para os indicadores do carrossel */
.carousel-indicators {
  bottom: 20px; /* Ajuste a margem inferior conforme necessário */
}

.carousel-indicators li {
  background-color: #ffffffef; /* Cor de fundo dos indicadores inativos */
  /* Borda dos indicadores inativos */
  width: 30px; /* Largura dos indicadores inativos */
  height: 5px; /* Altura dos indicadores inativos */
  margin-right: 5px; /* Espaçamento entre os indicadores inativos */
  border-radius: 2px;
  cursor: pointer;
}

.carousel-indicators .active {
  background-color: #000; /* Cor de fundo do indicador ativo */
  border-color: #000; /* Cor da borda do indicador ativo */
}


@media screen and (max-width: 775px) { 
  #evento {
    display: flex;
    justify-content: center;
  }

  #evento h1 {
    font-size: 2rem;
  }

  #carouselExampleControls {
    height: 70%;

  }

  .carousel-inner {
    width: 90%;

    object-fit: cover;
    height: 80%;

    margin: 0 auto;
  }

  .carousel-indicators li {
    background-color: #ffffffef; /* Cor de fundo dos indicadores inativos */
    /* Borda dos indicadores inativos */
    width: 30px; /* Largura dos indicadores inativos */
    height: 5px; /* Altura dos indicadores inativos */
    margin-right: 15px; /* Espaçamento entre os indicadores inativos */
    border-radius: 2px;
    cursor: pointer;
  }


  .sr-only {
    display: flex;

  }
}


/* Footer */



.contato {

  bottom: 0; /* Fixa o cabeçalho no topo da janela de visualização */
  left: 0; /* Fixa o cabeçalho no canto esquerdo */
  right: 0; /* Fixa o cabeçalho no canto direito */
  display: flex;
  justify-content: center;
  padding: 1rem;
  align-items: center;
  background-color: #63a7d3;
  background-image: linear-gradient(135deg, #517b96 0%, #4d78b6 100%);
  height: 50px;
  border-radius: 5px;
  color: #000;
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
}

.contato span a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}



/*Media Querie em andamento*/

